<%= form_with(model: tarea, local: true) do |form| %>
  <% if tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
        <% tarea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :name %>

  </div>

  <div class="field">
    <%= form.label :fecha %>
    <%= form.date_select :fecha %>
  </div>

  <div class="field">
    <%= form.label :cuidad %>
    <%= form.text_field :cuidad %>
  </div>

  <div class="field">
    <%= form.label :departamento %>
    <%= form.text_field :departamento %>
  </div>

  <div class="field">
    <%= form.label :barrio %>
    <%= form.text_field :barrio %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.check_box :estado %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
