<%= form_with(model: tarea, local: true) do |form| %>
  <% if tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tarea.errors.count, "error") %> prohibited this tarea from being saved:</h2>

      <ul>
        <% tarea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
    <div class="form-group row">
      <%= form.label :titulo, 'Titulo:', class:'col-sm-2 col-form-label' %>
    <div class="col-sm-6">
      <%= form.text_field :titulo, class: 'form-control', type:'text', placeholder:'Titulo de la Tarea' %>
    </div>
    </div>

  
  <div class="form-group row">
    <%= form.label :user_id, 'Asignada a:',  class:'col-sm-2 col-form-label' %>
    <div class="col-sm-4">
      <%= form.collection_select :user_id, User.all, :id, :nombre, {}, { class: 'form-control' }%>
    </div>
  </div>



<div class="form-group row">
    <%= form.label :fecha,  class:'col-sm-2 col-form-label'   %>
    <div class="col-sm-6">
    <%= form.date_field :fecha, class: 'form-control' %>
  </div>
  </div>

  <div class="form-group row">
  <%= form.label :cuidad, 'Cuidad:', class:'col-sm-2 col-form-label' %>
<div class="col-sm-6">
  <%= form.text_field :cuidad, class: 'form-control', type:'text', placeholder:'Cuidad' %>
</div>
</div>

<div class="form-group row">
      <%= form.label :departamento, 'Departamento:', class:'col-sm-2 col-form-label' %>
    <div class="col-sm-6">
      <%= form.text_field :departamento, class: 'form-control', type:'text', placeholder:'Departamento' %>
    </div>
    </div>

    <div class="form-group row">
    <%= form.label :barrio, 'Barrio:', class:'col-sm-2 col-form-label' %>
  <div class="col-sm-6">
    <%= form.text_field :barrio, class: 'form-control', type:'text', placeholder:'Barrio' %>
  </div>
  </div>

  <div class="form-group row">
  <%= form.label :estado, class:'col-sm-2 col-form-label'%>
  <div class="col-sm-10">
  <div class="form-check">
   
    
    <%= form.check_box :estado%>
    <label class="form-check-label" for="gridCheck1">
        Si activas la tarea pasa a ser realizado, si no queda en pendiente.
    </label>
  </div>
  </div>
  </div>

  <div class="actions">
    <%= form.submit "Crear Tarea", class: 'btn btn-primary' %><br>
</div>
</div>
<% end %>
