<p id="notice"><%= notice %></p>
<div class="container">
<h1><center>TAREAS</center></h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Personal</th>
      <th>Fecha</th>
      <th>Cuidad</th>
      <th>Departamento</th>
      <th>Barrio</th>
      <th>Estado</th>
      <th colspan="4"></th>

    </tr>
  </thead>

  <tbody>
    <% @tareas.each do |tarea| %>
      <tr>
        <td><%= tarea.titulo %></td>
        <td><%= tarea.user.nombre %></td>
        <td><%= tarea.fecha %></td>
        <td><%= tarea.cuidad %></td>
        <td><%= tarea.departamento %></td>
        <td><%= tarea.barrio %></td>
        <td>
   
          
          <% if tarea.estado == false %>
              <div class="badge badge-danger">Pendiente</div>
          <% else %>
            <div class="badge badge-success">Realizado</div>
          <% end %>
          
          
        
          </td>
       
        <td><%= link_to "Finalizar ", {:controller => "realizados", :action => "new", :titulo => tarea.titulo, :id => tarea.id},type:'button', class:'btn btn-info' %>
        <td><%= link_to 'Modificar', edit_tarea_path(tarea),type:'button', class:'btn btn-outline-warning'  %></td>
        <td><%= link_to 'Eliminar', tarea, method: :delete, data: {confirm: 'Estas seguro?' }, type:'button', class:'btn btn-outline-danger' %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'NUEVA TAREA', new_tarea_path, type:'button', class:'btn btn-primary'%>
