<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @tarea.titulo %>
</p>

<p>
  <strong>User:</strong>
  <%= @tarea.user_id %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @tarea.fecha %>
</p>

<p>
  <strong>Cuidad:</strong>
  <%= @tarea.cuidad %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @tarea.departamento %>
</p>

<p>
  <strong>Barrio:</strong>
  <%= @tarea.barrio %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tarea.estado %>
</p>

<%= link_to 'Modificar', edit_tarea_path(@tarea) %> |
<%= link_to 'Volver', tareas_path %>
