<%= form_with(model: realizado, local: true) do |form| %>
  <% if realizado.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(realizado.errors.count, "error") %> prohibited this realizado from being saved:</h2>

      <ul>
        <% realizado.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
  <div class="form-group row">
  <%= form.label :fecha_ini,  class:'col-sm-2 col-form-label'   %>
  <div class="col-sm-6">
  <%= form.date_field :fecha_ini, class: 'form-control' %>
</div>
</div>

<div class="form-group row">
    <%= form.label :fecha_fina,  class:'col-sm-2 col-form-label'   %>
    <div class="col-sm-6">
    <%= form.date_field :fecha_fina, class: 'form-control' %>
  </div>
  </div>

  <div class="form-group row">
    <%= form.label :tiempo, 'Tiempo:', class:'col-sm-2 col-form-label' %>
    <div class="col-sm-6">
      <%= form.text_field :tiempo, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :tarea_id, 'Tarea:', class:'col-sm-2 col-form-label' %>
    <div class="col-sm-6">
      <%= form.text_field :tarea_id, class: 'form-control', readonly: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :titulo, 'Titulo:', class:'col-sm-2 col-form-label' %>
    <div class="col-sm-6">
      <%= form.text_field :titulo, class: 'form-control', value:(@titulo), readonly: true %>
    </div>
  </div>

<div class="field">
<%= form.label :descripcion %>
<%= form.rich_text_area :descripcion %>
</div>

  <div class="actions">
    <%= form.submit "Finalizar", class: 'btn btn-primary' %>
  </div>
</div>  
<% end %>
