<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @realizado.descripcion %>
</p>

<p>
  <strong>Fecha ini:</strong>
  <%= @realizado.fecha_ini %>
</p>

<p>
  <strong>Fecha fina:</strong>
  <%= @realizado.fecha_fina %>
</p>

<p>
  <strong>Tiempo:</strong>
  <%= @realizado.tiempo %>
</p>

<p>
  <strong>Tarea:</strong>
  <%= @realizado.tarea_id %>
</p>

<%= link_to 'Editar', edit_realizado_path(@realizado) %> |
<%= link_to 'Vovler', realizados_path %>
